.c-user-guess {
  --box-width: 80px;
  --box-height: 80px;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.c-user-guess__targeting-box {
  width: var(--box-width);
  height: var(--box-height);
  margin-bottom: 5px;
  border: 3px solid rgb(255, 255, 255);
  border-radius: 8px;
}

.c-user-guess__option {
  width: 85px;
  min-height: 1.7rem;
  border: 1px solid var(--ui-background-color-3);
  background: var(--ui-background-color-1);
  border-radius: 6px;

  color: white;
  user-select: none;
  transition: background 0.2s ease-out;
}

.c-user-guess__option:hover {
  background: var(--ui-background-color-4);
}

.c-user-guess__option:active {
  transform: scale(1.05);
}

@media (max-width: 700px) {
  .c-user-guess {
    --box-width: 30px;
    --box-height: 30px;
  }
}
