.c-menu {
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.82);
}

.c-menu__menu-content {
  max-width: 50rem;
  min-height: 32rem;
  padding: 2.5rem 3rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  background: var(--ui-background-color);
  border-radius: 16px;
}

.c-menu__rules-heading {
  font-size: 4rem;
  text-align: center;
  color: rgb(117, 234, 255);
}

.c-menu__rules-description {
  margin-top: 20px;
  color: rgb(231, 251, 255);
  line-height: 2.5rem;
  font-size: 1.2rem;
  text-align: center;
}

.c-menu__start-btn {
  width: max-content;
  padding: 15px 30px;
  margin-top: 3rem;
  border-radius: 4px;
  color: #fff;
  font-size: 1.3rem;
  background: rgb(63, 181, 255);
  cursor: pointer;
}

.c-menu__start-btn:hover {
  background: rgb(61, 169, 236);
}

.c-menu__start-btn:active {
  transform: scale(1.1);
}

.c-menu .c-characters {
  margin-top: 20px;
}

@media (max-width: 900px) {
  .c-menu__menu-content {
    padding: 1.5rem 2rem;
  }
}

@media (max-width: 600px) {
  .c-menu__menu-content {
    min-height: 32rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    background: var(--ui-background-color);
    border-radius: 16px;
  }

  .c-menu__rules-heading {
    font-size: 2rem;
  }

  .c-menu__rules-description {
    font-size: 1rem;
    line-height: 2rem;
  }
}

@media (max-width: 500px) and (max-height: 500px) {
  .c-menu__menu-content {
    width: auto;
    min-height: calc(100vh - var(--header-offset));
  }

  .c-menu__rules-description {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .c-menu .c-characters {
    margin-top: 5px;
  }
}
