.c-guess-notification {
  position: fixed;
  top: calc(var(--header-offset) * 1.2);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  animation: guessNotification 2.2s both alternate;
}

@keyframes guessNotification {
  from {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.c-guess-notification__text {
  min-height: 70px;
  width: 70vw;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #fff;
  font-size: 2rem;

  background: #181c24cd;
  border-radius: 4px;
}

@media (max-width: 500px) {
  .c-guess-notification__text {
    min-height: 40px;
    font-size: 1.2rem;
  }
}
