.c-header .c-characters {
  display: flex;
  gap: 1.5rem;
}

.c-header .c-characters__character {
  display: flex;
  align-items: center;
  gap: 4px;
}

.c-header .c-characters__character img {
  height: 70px;
  width: 70px;
  border-radius: 100%;
  filter: drop-shadow(0 0 2px rgb(0, 217, 255));
}

.c-menu .c-characters {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.c-menu .c-characters__character {
  display: flex;
  flex-flow: column;
  align-items: center;
  color: rgb(255, 255, 255);
}

.c-menu .c-characters__character img {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  filter: drop-shadow(0 0 2px rgb(0, 217, 255));
}

@media (max-width: 750px) {
  .c-header .c-characters {
    gap: 1rem;
  }

  .c-header .c-characters__character img {
    height: 40px;
    width: 40px;
  }

  .c-menu .c-characters__character img {
    width: 80px;
    height: 80px;
  }
}

@media (max-width: 500px) {
  .c-menu .c-characters {
    gap: 0.5rem;
  }

  .c-header .c-characters__character img {
    width: 30px;
    height: 30px;
  }

  .c-menu .c-characters__character img {
    width: 50px;
    height: 50px;
  }

  .c-header .c-characters {
    gap: 0.8rem;
  }
}

@media (max-width: 315px) {
  .c-header .c-characters__character img {
    width: 20px;
    height: 20px;
  }
}
