.c-game-result {
  position: fixed;
  z-index: 2;
  top: 0;

  width: 100%;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  color: rgb(231, 251, 255);

  background-color: rgba(0, 0, 0, 0.82);

  animation: gameResult 0.5s ease-out forwards;
}

@keyframes gameResult {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.c-game-result__content {
  padding-inline: 80px;

  display: grid;
  grid-template-rows: 0 10fr 0;
  grid-template-columns: 1fr 1fr;
  min-height: 400px;
  gap: 80px;
  background: var(--ui-background-color-1);
  border-radius: 16px;
}

.c-game-result__leaderboard {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  display: flex;
  flex-flow: column;
  align-items: right;
  text-align: right;
}

.c-game-result__scores {
  margin-top: 2rem;
  display: flex;
  flex-flow: column;
  font-size: 1.2rem;
  gap: 0.7rem;
}

.c-game-result__wrapper {
  grid-row: 2 / 3;
  grid-column: 2 / 2;
  display: flex;
  flex-flow: column;
}

.c-game-result .c-timer {
  margin-top: 1.6rem;
  font-size: 2.3rem;
}

.c-game-result__place {
  margin-top: 1.2rem;
  font-size: 1.7rem;
}

.c-game-result__heading {
  color: rgb(117, 234, 255);
  font-size: 2.3rem;
}

.c-game-result__play-again-btn {
  margin-top: 50px;
  width: max-content;
  padding: 20px 40px;

  font-size: 1.3rem;
  color: #fff;

  background: rgb(63, 181, 255);
  border-radius: 4px;
  cursor: pointer;
}

.c-game-result__play-again-btn:hover {
  background: rgb(61, 169, 236);
}

.c-game-result__play-again-btn:active {
  transform: scale(1.1);
}

@media (max-width: 700px) {
  .c-game-result__content {
    padding-inline: 20px;
    grid-gap: 40px;
  }

  .c-game-result__heading {
    font-size: 1.5rem;
  }

  .c-game-result .c-timer {
    font-size: 1.3rem;
  }

  .c-game-result__place {
    font-size: 1.2rem;
  }

  .c-game-result__play-again-btn {
    padding: 10px 20px;
  }
}

@media (max-width: 400px) {
  .c-game-result__content {
    padding-block: 10px;
    grid-gap: 20px;
  }
  .c-game-result__heading {
    font-size: 1.2rem;
  }

  .c-game-result .c-timer,
  .c-game-result__place {
    font-size: 1.1rem;
  }

  .c-game-result__play-again-btn {
    margin-top: 20px;
    font-size: 1rem;
  }
}
