.c-header {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  min-height: var(--header-offset);
  padding-inline: 40px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  color: #fff;
  font-size: 2rem;

  background: var(--ui-background-color-1);
}

.c-header__timer {
  margin-left: 2rem;
}

.c-header__game-name {
  margin-right: 2rem;
}

@media (max-width: 950px) {
  .c-header {
    font-size: 1.3rem;
  }
}

@media (max-width: 620px) {
  .c-header {
    padding-inline: 0.5rem;
    font-size: 1rem;
  }

  .c-header__game-name {
    display: none;
  }
}

@media (max-width: 400px) {
  .c-header {
    font-size: 0.8rem;
  }

  .c-header__timer {
    margin-left: 0.5rem;
  }

  .c-header__game-name {
    margin-right: 0.5rem;
  }
}
